<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="page-container">
        <h1>404 - Not Found</h1>
        <p>Sorry, the certificate ID you are looking for is invalid or does not exist.</p>
        <a href="https://gdg.community.dev/gdg-on-campus-north-eastern-hill-university-shillong-india/" target="_blank">Return to GDG on Campus NEHU Community Page</a>
    </div>
</body>
</html>